.transaction-history {
  margin: 0 auto;
}
table {
  table-layout: fixed;
  width: 60%;
  background-color: #fff;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 7px 11px
}
thead {
  background-color: rgb(12, 128, 128);
  color: #fff;
  text-transform: uppercase;
}
tbody > tr {
  text-transform: capitalize;
  text-align: center;
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(238, 248, 214);
}
td,th{
  padding: 10px;
}
th:nth-of-type(2){
  border-right: 1px solid white;
  border-left: 1px solid white;
}
tbody>tr>td:nth-of-type(2){
  border-right: 1px solid rgb(248, 223, 223);
  border-left: 1px solid rgb(248, 223, 223);
}